.env
.git
.gitignore
.fleet
.idea
.vscode
node_modules
public/build
public/hot
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
docker-compose.yml
docker/php/entrypoint.sh
README.md
*.log
